.block {
    width:600px;
    box-shadow: 3px 3px 3px 3px grey;
    margin:10px;
    background-color: #E0D8D6;
}
.my-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.logo {
    cursor: pointer;
    color: #3e75ad;

}

.logo > .logo-url {
    text-decoration: none;
}